body {
    /* background: #FFE600; */
    padding: 0;
    margin: 0;
    font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
}

.parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top {
    height: 30vh;
    overflow: hidden;
}

#deom1 {
    height: 100%;
    overflow: auto;
    margin-bottom: 10px;
    overflow-y: auto;
    font-size: 14px;
    font-family: "Monospace";
    background: #23241f;
    padding: 0 10px;
}

#deom1::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

#btns {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

#btns button {
    margin-bottom: 10px;
}

#deom3 {

    flex: 1;
}